<div class="view0 intro2">
  <div class="full-bg-img">
    <div class="mask rgba-black-light flex-center flex-column min-vh-100">
      <div class="container text-center white-text wow fadeInUp align-content-around">
        <div class="row justify-content-center">
          <img alt="Audio4Live" class="d-block w-responsive mb-5 px-2" src="/assets/images/Logo2_Text.svg" />
        </div>
        <div class="row justify-content-center">
          <h1
            class="d-none d-md-block display-3"
            style="font-weight: 800; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black"
          >
            Ihr Partner für Veranstaltungstechnik!
          </h1>
          <h1 class="d-block d-md-none" style="font-weight: 800; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black">
            Ihr Partner für Veranstaltungs<wbr />technik!
          </h1>
        </div>
      </div>
      <i class="fas fa-chevron-down fa-3x position-absolute" style="bottom: 1vh"></i>
    </div>
  </div>
</div>

<div class="content py-5">
  <div class="row justify-content-center m-0 min-vw-100">
    <div class="col-11 col-md-7">
      <div class="card elegant-color z-depth-3">
        <div class="card-body">
          <main class="container mx-auto w-100" style="max-width: 100%">
            <div class="row">
              <div>
                <h2 class="h3-responsive text-center">
                  Sie suchen eine engagierte technische Fachkraft zum Aufbau und der Durchführung Ihrer Veranstaltung?
                </h2>
                <h3 class="h4-responsive text-center">
                  Als nebenberuflicher Veranstaltungstechniker kann ich zuverlässig Ihre Vorstellungen umsetzen. Mein Tätigkeitsbereich
                  bezieht sich überwiegend auf Erfurt und Thüringen.
                </h3>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-sm-0 col-md-2"></div>
              <div class="col-sm-12 col-md-8">
                <button routerLink="/anfragen" class="text-dark" mdbBtn type="button" color="blue-grey" block="true" mdbWavesEffect>
                  <h4 class="mb-0">Jetzt anfragen!</h4>
                </button>
              </div>
              <div class="col-sm-0 col-md-2"></div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
