<header class="bg-image intro-image-landing vignette-radial">
  <div class="container text-center white-text d-flex flex-column align-items-center justify-content-center min-vh-100">
    <img alt="Audio4Live" class="d-block w-md-100 w-75 mb-5 px-2" src="/assets/images/Logo2_Text.svg" />
    <h1 class="display-3" style="font-weight: 800; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black">
      Ihr Partner für Veranstaltungs<wbr />technik!
    </h1>

    <i class="fas fa-chevron-down fa-3x position-absolute" style="z-index: 1; bottom: 4.5vh"></i>
  </div>
</header>

<div class="content py-5">
  <div class="row justify-content-center m-0 min-vw-100">
    <div class="col-11 col-md-7">
      <div class="card bg-dark shadow-5-strong">
        <div class="card-body">
          <main class="container mx-auto w-100" style="max-width: 100%">
            <div class="row">
              <div>
                <h2 class="h3-responsive text-center">
                  Sie suchen eine engagierte technische Fachkraft zum Aufbau und der Durchführung Ihrer Veranstaltung?
                </h2>
                <h4 class="h4-responsive text-center py-4"><i>Johannes Tschiersch</i><br />Fachkraft für Veranstaltungstechnik</h4>
                <h4 class="h4-responsive text-center">
                  Als nebenberuflicher Veranstaltungstechniker kann ich zuverlässig Ihre Vorstellungen umsetzen. Mein Tätigkeitsbereich
                  bezieht sich überwiegend auf Thüringen und Sachsen.
                </h4>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-sm-0 col-md-2"></div>
              <div class="col-sm-12 col-md-8 d-block">
                <button tabindex="0" routerLink="/anfragen" class="btn btn-primary text-dark w-100" type="button">
                  <h4 class="mb-0">Jetzt anfragen!</h4>
                </button>
              </div>
              <div class="col-sm-0 col-md-2"></div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
