html.webp {
  .intro-image-landing {
    background-image: url('/assets/images/fader.webp');
    height: 100vh;
  }
}

.intro-image-landing {
  background-image: url('/assets/images/fader.jpg');
  height: 100vh;
}
