<div class="bg-image intro-image-profile">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-3 col-md-0"></div>
      <div class="col-lg-6 col-md-12 mt-5">
        <div class="card bg-dark z-depth-3">
          <div class="card-body container">
            <div class="card-text">
              <div class="row text-white">
                <div class="col-12 flex-column justify-content-between">
                  <picture class="align-middle img-Profil mt-3 figure-img img-fluid rounded shadow-3">
                    <source srcset="/assets/images/profil.webp" type="image/webp" />
                    <source srcset="/assets/images/profil.jpg" type="image/jpeg" />
                    <img class="align-middle img-Profil figure-img img-fluid rounded shadow-3" src="/assets/images/profil.jpg" alt="Johannes Tschiersch" />
                  </picture>

                  <ul class="list-group w-100 mb-3">
                    <li class="list-group-item mb-0 bg-dark text-white">Johannes Tschiersch</li>
                    <li class="list-group-item mb-0 bg-dark text-white">geboren 1998</li>
                    <li class="list-group-item mb-0 bg-dark text-white">Abitur 2017</li>
                  </ul>


                  <span>
                    <h3>Qualifizierungen</h3>
                    <ul class="list-group w-100 mb-3">
                      <li class="list-group-item mb-0 bg-dark text-white">Fachkraft für Veranstaltungstechnik</li>
                      <li class="list-group-item mb-0 bg-dark text-white">Elektrofachkraft für Veranstaltungstechnik (SQQ1)
                      </li>
                      <li class="list-group-item mb-0 bg-dark text-white">mit Flurfördermittelschein</li>
                      <li class="list-group-item mb-0 bg-dark text-white">mit Bedienerausweis für Hebebühnen</li>
                      <li class="list-group-item mb-0 bg-dark text-white">
                        Studium <i>Media and Acoustical Engineering</i> an der HS Mittweida (2020 - )
                      </li>
                    </ul>
                  </span>

                  <span>
                    <h3>Referenzen</h3>
                    <ul class="list-group w-100">
                      <li class="list-group-item mb-0 bg-dark text-white">2018 - "The Iron Maidens" - <b>Monitormix</b>
                      </li>
                      <li class="list-group-item mb-0 bg-dark text-white">
                        2018 - "Musische Festtage des CJD" -
                        <b>Lichtoperator</b>
                      </li>
                      <li class="list-group-item mb-0 bg-dark text-white">2018/19 - Christina Rommel - <b>Lichtoperator</b>
                      </li>
                      <li class="list-group-item mb-0 bg-dark text-white">2019 - Miller Anderson - <b>Soundoperator</b>
                      </li>
                      <li class="list-group-item mb-0 bg-dark text-white">
                        2019<br>Abschlussprojekt Felix Lobrecht in der Weimarhalle - <b>Tonsystemer</b>
                      </li>
                      <li class="list-group-item mb-0 bg-dark text-white">
                        Jan 2020 - Sep 2020<br>"In aller Freundschaft – Die jungen Ärzte" - <b>Beleuchter</b>
                      </li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-0"></div>
    </div>
  </div>
</div>
