<div class="view4 intro2 min-vh-100">
  <div class="full-bg-img">
    <div class="mask rgba-black-light flex-center min-vh-100">
      <div class="container text-center white-text wow fadeInUp align-items-center">
        <div class="d-block d-md-none" style="height: 63px;"></div>
        <div class="row">
          <div class="col-12 my-5 my-md-0">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="https://placekitten.com/1600/900"
                    alt="Abschlussprojekt: Felix Lobrecht in der Weimarhalle als Tonsystemer 2019"
                  />
                  <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                  <h3 class="h3-responsive">Abschlussprojekt Felix Lobrecht in der Weimarhalle 2019</h3>
                  <p>Tonsystemer</p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="https://placekitten.com/1600/950"
                    alt="Monitormix bei: „The Iron Maidens“ 2018"
                  />
                  <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                  <h3 class="h3-responsive">"The Iron Maidens" 2018</h3>
                  <p>Monitormix</p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="https://placekitten.com/1600/900"
                    alt="Lichtoperator bei Christina Rommel 2018/19"
                  />
                  <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                  <h3 class="h3-responsive">Christina Rommel 2018/19</h3>
                  <p>Lichtoperator</p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="https://placekitten.com/1500/800"
                    alt="Soundoperator Kirmes Elxleben 2019"
                  />
                  <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                  <h3 class="h3-responsive">Soundoperator</h3>
                  <p>Kirmes Elxleben 2019</p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
