.webp .view4 {
  background: url('/assets/images/colors.webp') no-repeat center center;
  background-size: cover;
}

.no-webp .view4 {
  background: url('/assets/images/colors.jpg') no-repeat center center;
  background-size: cover;
}
