version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 99
    schedule:
      interval: "daily"
    groups:
      angular:
        patterns:
          - "@angular/*"
          - "@angular-devkit/*"
          - "@angular-eslint/*"
          - "typescript"
          - "zone.js"
      eslint-parser:
        patterns:
          - "@typescript-eslint/*"
          
  - package-ecosystem: "npm"
    directory: "/functions"
    open-pull-requests-limit: 99
    schedule:
      interval: "daily"
    groups:
      eslint-parser:
        patterns:
          - "@typescript-eslint/*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
