.no-webp .view0 {
  background: url('/assets/images/fader.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.webp .view0 {
  background: url('/assets/images/fader.webp') no-repeat center center;
  background-size: cover;
  height: 100vh;
}
