<div class="bg-image intro-image-error min-vh-100">
  <div class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="container text-center white-text align-items-center">
      <div class="row mb-5">
        <div class="container text-center white-text align-content-around">
          <div class="row justify-content-center">
            <img alt="" class="d-block w-75 mb-5 px-2" src="/assets/images/404.svg" />
          </div>
          <div class="row justify-content-center d-flex">
            <img class="d-block mb-5 px-2" style="max-width: 330px; width: 100%" src="/assets/images/404_profil.webp" alt="" />
          </div>
          <div class="row justify-content-center">
            <h1 class="display-3" style="font-weight: 800; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black">
              Die gesuchte Seite existiert nicht!
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
