<main class="view0 intro2">
  <div class="full-bg-img">
    <div class="mask rgba-black-light flex-center flex-column min-vh-100">
      <div class="container text-center white-text wow fadeInUp align-content-around">
        <div class="row justify-content-center">
          <img alt="" class="d-block w-responsive mb-5 px-2" src="/assets/images/404.svg" />
        </div>
        <div class="row justify-content-center d-none d-md-flex">
          <img class="d-block mb-5 px-2" style="max-width: 330px; width: 100%" src="/assets/images/404_profil.webp" alt="" />
        </div>
        <div class="row justify-content-center">
          <h1
            class="d-none d-md-block display-3"
            style="font-weight: 800; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black"
          >
            Die gesuchte Seite existiert nicht!
          </h1>
          <h1 class="d-block d-md-none" style="font-weight: 800; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black">
            Die gesuchte Seite existiert nicht!
          </h1>
        </div>
      </div>
    </div>
  </div>
</main>
