<div class="modal-header">
  <button type="button" class="close pull-right me-4" aria-label="Schließen" (click)="modalRef.close()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100 text-dark" id="modalDatenschutzLabel">Datenschutzerklärung</h4>
</div>
<div class="modal-body text-dark w-100" style="overflow-x: hidden">
  <h4>Allgemeiner Hinweis und Pflichtinformationen</h4>
  <h5>Benennung der verantwortlichen Stelle</h5>
  <p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
  <address>
    <span id="s3-t-firma">Audio4Live</span><br />
    <span id="s3-t-ansprechpartner">Johannes Tschiersch</span><br />
    <span id="s3-t-strasse">Ha&szlig;leber Stra&szlig;e 2</span><br />
    <span id="s3-t-plz">99189</span>&nbsp;<span id="s3-t-ort">Gebesee</span>
  </address>
  <br />
  <p>
    Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von
    personenbezogenen Daten (z.B. Namen, Kontaktdaten o. Ä.).
  </p>

  <h5>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h5>
  <p>
    Nur mit Ihrer ausdrücklichen Einwilligung sind einige Vorgänge der Datenverarbeitung möglich. Ein Widerruf Ihrer bereits erteilten
    Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine formlose Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf
    erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
  </p>

  <h5>Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde</h5>
  <p>
    Als Betroffener steht Ihnen im Falle eines datenschutzrechtlichen Verstoßes ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
    Zuständige Aufsichtsbehörde bezüglich datenschutzrechtlicher Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes, in dem sich
    der Sitz unseres Unternehmens befindet. Der folgende Link stellt eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten bereit:
    <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" rel="noreferrer" target="_blank"
      >https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a
    >.
  </p>

  <h5>Recht auf Datenübertragbarkeit</h5>
  <p>
    Ihnen steht das Recht zu, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten, an
    sich oder an Dritte aushändigen zu lassen. Die Bereitstellung erfolgt in einem maschinenlesbaren Format. Sofern Sie die direkte
    Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.
  </p>

  <h5>Recht auf Auskunft, Berichtigung, Sperrung, Löschung</h5>
  <p>
    Sie haben jederzeit im Rahmen der geltenden gesetzlichen Bestimmungen das Recht auf unentgeltliche Auskunft über Ihre gespeicherten
    personenbezogenen Daten, Herkunft der Daten, deren Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung,
    Sperrung oder Löschung dieser Daten. Diesbezüglich und auch zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich
    jederzeit über die im Impressum aufgeführten Kontaktmöglichkeiten an uns wenden.
  </p>

  <h5>SSL- bzw. TLS-Verschlüsselung</h5>
  <p>
    Aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, die Sie an uns als Seitenbetreiber senden, nutzt unsere
    Website eine SSL-bzw. TLS-Verschlüsselung. Damit sind Daten, die Sie über diese Website übermitteln, für Dritte nicht mitlesbar. Sie
    erkennen eine verschlüsselte Verbindung an der „https://“ Adresszeile Ihres Browsers und am Schloss-Symbol in der Browserzeile.
  </p>

  <h5>Server-Log-Dateien</h5>
  <p>
    In Server-Log-Dateien erhebt und speichert der Provider der Website automatisch Informationen, die Ihr Browser automatisch an uns
    übermittelt. Dies sind:
  </p>
  <ul>
    <li>Besuchte Seite auf unserer Domain</li>
    <li>Datum und Uhrzeit der Serveranfrage</li>
    <li>Browsertyp und Browserversion</li>
    <li>Verwendetes Betriebssystem</li>
    <li>Referrer URL</li>
    <li>Hostname des zugreifenden Rechners</li>
    <li>IP-Adresse</li>
  </ul>
  <p>
    Es findet keine Zusammenführung dieser Daten mit anderen Datenquellen statt. Grundlage der Datenverarbeitung bildet Art. 6 Abs. 1 lit. b
    DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.
  </p>

  <h5>Kontaktformular</h5>
  <p>
    Per Kontaktformular übermittelte Daten werden einschließlich Ihrer Kontaktdaten gespeichert, um Ihre Anfrage bearbeiten zu können oder
    um für Anschlussfragen bereitzustehen. Eine Weitergabe dieser Daten findet ohne Ihre Einwilligung nicht statt.
  </p>
  <p>
    Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1
    lit. a DSGVO). Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine formlose Mitteilung
    per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
  </p>
  <p>
    Über das Kontaktformular übermittelte Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung
    widerrufen oder keine Notwendigkeit der Datenspeicherung mehr besteht. Zwingende gesetzliche Bestimmungen - insbesondere
    Aufbewahrungsfristen - bleiben unberührt.
  </p>

  <h5>Google Web Fonts</h5>
  <p>
    Unsere Website verwendet Web Fonts von Google. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.
  </p>
  <p>
    Durch den Einsatz dieser Web Fonts wird es möglich Ihnen die von uns gewünschte Darstellung unserer Website zu präsentieren, unabhängig
    davon welche Schriften Ihnen lokal zur Verfügung stehen. Dies erfolgt über den Abruf der Google Web Fonts von einem Server von Google in
    den USA und der damit verbundenen Weitergabe Ihre Daten an Google. Dabei handelt es sich um Ihre IP-Adresse und welche Seite Sie bei uns
    besucht haben. Der Einsatz von Google Web Fonts erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Als Betreiber dieser Website haben
    wir ein berechtigtes Interesse an der optimalen Darstellung und Übertragung unseres Webauftritts.
  </p>
  <p>
    Das Unternehmen Google ist für das us-europäische Datenschutzübereinkommen "Privacy Shield" zertifiziert. Dieses
    Datenschutzübereinkommen soll die Einhaltung des in der EU geltenden Datenschutzniveaus gewährleisten.
  </p>
  <p>
    Einzelheiten über Google Web Fonts finden Sie unter:
    <a href="https://www.google.com/fonts#AboutPlace:about" rel="nofollow">https://www.google.com/fonts#AboutPlace:about</a>
    und weitere Informationen in den Datenschutzbestimmungen von Google:
    <a href="https://policies.google.com/privacy/partners?hl=de" rel="nofollow">https://policies.google.com/privacy/partners?hl=de</a>
  </p>
  <p>
    <small
      >Quelle: Datenschutz-Konfigurator von
      <a href="http://www.mein-datenschutzbeauftragter.de" target="_blank" rel="noreferrer">mein-datenschutzbeauftragter.de</a>
    </small>
    >
  </p>
</div>
<div class="modal-footer justify-content-center">
  <button class="btn btn-primary" type="button" aria-label="Schließen" (click)="modalRef.close()">Schließen</button>
</div>
