// COLORS
$textcolor: #ffffff;
$bgcolor: #1A1A1A;
$bgdarkercolor: #121212;

$bgmouseovercolor: #111111;

$color1: rgba(28, 49, 68, 1);
$color2: rgba(89, 101, 112, 1);
$color3: rgba(106, 135, 160, 1);
$color4: rgba(151, 186, 216, 1);
$color5: rgba(22, 70, 112, 1);