<div class="modal-header">
  <button type="button" class="close pull-right me-4" aria-label="Schließen" (click)="modalRef.close()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100 text-dark" id="modalImpressumLabel">Impressum</h4>
</div>
<div class="modal-body text-dark w-100" style="overflow-x: hidden">
  <h4>Angaben gem&auml;&szlig; &sect; 5 TMG</h4>
  <address>
    Johannes Tschiersch<br />
    Audio4Live<br />
    Ha&szlig;leber Stra&szlig;e 2<br />
    99189 Gebesee
  </address>

  <h5>Kontakt</h5>
  <div>
    <a onclick="return false;" [style.display]="showPhone ? 'none' : 'block'" href="#" (click)="decodePhone()">Telefonnummer anzeigen</a>
    <div [innerHTML]="phoneContent"></div>
    <a onclick="return false;" [style.display]="showEmail ? 'none' : 'block'" href="#" (click)="decodeEmail()">Email anzeigen</a>
    <div [innerHTML]="emailContent"></div>
    <br />
  </div>

  <h5>Umsatzsteuer-ID</h5>
  <p>
    Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
    DE330390177, 151/282/17018
  </p>

  <h5>Gewerbeanmeldung</h5>
  <p>Die Gewerbeanmeldung nach <i>§ 14 GewO</i> wurde am <i>03.03.2020</i> durch das <i>Gewerbeamt Sömmerda</i> erteilt.</p>

  <!-- <h5>Angaben zur Berufshaftpflichtversicherung</h5>
        <p></p> -->

  <h5>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h5>
  <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

  <h5>Haftung f&uuml;r Inhalte</h5>
  <p>
    Als Diensteanbieter sind wir gem&auml;&szlig; &sect; 7 Abs.1 TMG f&uuml;r eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
    verantwortlich. Nach &sect;&sect; 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, &uuml;bermittelte oder
    gespeicherte fremde Informationen zu &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit
    hinweisen.
  </p>
  <p>
    Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unber&uuml;hrt.
    Eine diesbez&uuml;gliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung m&ouml;glich. Bei
    Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
  </p>

  <h3>Haftung f&uuml;r Links</h3>
  <p>
    Unser Angebot enth&auml;lt Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb k&ouml;nnen wir
    f&uuml;r diese fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen. F&uuml;r die Inhalte der verlinkten Seiten ist stets der
    jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf m&ouml;gliche
    Rechtsverst&ouml;&szlig;e &uuml;berpr&uuml;ft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
  </p>
  <p>
    Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht
    zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
  </p>

  <h3>Urheberrecht</h3>
  <p>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die
    Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung au&szlig;erhalb der Grenzen des Urheberrechtes bed&uuml;rfen
    der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten,
    nicht kommerziellen Gebrauch gestattet.
  </p>
  <p>
    Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden
    Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
    entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
  </p>

  <p>Quelle: <a href="https://www.e-recht24.de" rel="nofollow">e-recht24.de</a></p>
</div>
<div class="modal-footer justify-content-center">
  <button class="btn btn-primary" type="button" aria-label="Schließen" (click)="modalRef.close()">Schließen</button>
</div>
