.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #2E2E2E;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #2E2E2E;
  }
}

.nav-link {
  font-size: 1.5rem;
}