.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #2e2e2e;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #2e2e2e;
  }
}

.nav-link {
  font-size: 1.5rem;
}
