<div style="height: 75px"></div>

<div class="container">
  <div class="row mt-2">
    <div class="col-12 col-sm-4">
      <h1>Admin</h1>
    </div>
    <div class="col-12 col-sm-4">
      <span class="h-100 align-bottom">{{ user?.email }}</span>
    </div>
    <div class="col-12 col-sm-4">
      <button mdbBtn class="btn btn-primary" type="button" (click)="signout()">Abmelden</button>
    </div>
  </div>
  <div class="row mt-2 h-auto">
    <mdb-tabs class="tabs-dark">
      <mdb-tab title="Buchungen"><app-booking></app-booking></mdb-tab>
      <mdb-tab title="Mail"><app-mail></app-mail></mdb-tab>
    </mdb-tabs>
  </div>
</div>
