<div class="modal-header">
  <button type="button" class="close pull-right me-4" aria-label="Schließen" (click)="modalRef.close()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100 text-dark" id="modalAGBLabel">Allgemeine Geschäftsbedingungen</h4>
</div>
<div class="modal-body text-dark w-100" style="overflow-x: hidden">
  <h4>Allgemeine Geschäftsbedingungen von Audio4Live</h4>
  <p>mit Sitz in: 99189 Gebesee, Haßleber Straße 2</p>
  <p>Ein Tagessatz bezieht sich auf 10 h reine Arbeitszeit und ist mit dem Vertragspartner auszuhandeln.</p>
  <p>
    Reisekosten und Spesen, die Audio4Live im Zusammenhang mit der Ausführung des Vertrages entstehen, sind vom Vertragspartner gesondert zu
    erstatten. Während der gesamten Arbeitszeit ist eine geeignete Verpflegung (vegetarisch) zu stellen. Sollte dies nicht gegeben sein,
    wird eine Verpflegungspauschale von 20 € je Auftragstag angerechnet.
  </p>
  <p>
    Sollte eine Veranstaltung nicht stattfinden können oder der Vertragsparter die Dienstleistung nicht beanspruchen, ist der
    Vertragspartner verpflichtet diese Information 48 h vor Veranstaltungsbeginn mitzuteilen. Die Mitteilung muss schriftlich erfolgen.
    Erfolgt die Mitteilung nicht fristgerecht, sind vom Vertragspartner 50% einer Tagespauschale für alle reservierten Tage, zuzüglich 100%
    aller Reisekosten zum vereinbarten Treffpunkt zu zahlen.
  </p>
  <p>
    Alle Rechnungen sind 14 Tage nach Rechnungsdatum fällig und ohne Abzug zu bezahlen. Sollte dies nicht möglich sein, hat eine
    schriftliche Rückmeldung innerhalb von 3 Tagen nach Rechnungsdatum zu erfolgen. Es ist eine maximale Verlängerung um 7 Tage nach Ablauf
    der Frist möglich.
  </p>
  <p>
    Nur unbestrittene oder rechtskräftig festgestellte Forderungen berechtigen den Vertragspartner zur Aufrechnung oder Zurückbehaltung.
  </p>
  <span>
    Alle Arbeiten die länger als 10 Stunden (ein Tagessatz) andauern werden mit 1/10 des Tagessatzes mit prozentualem Aufschlag je nach
    Stunde angerechnet:
    <ul>
      <li>ab der 10. Stunde + 25%</li>
      <li>ab der 12. Stunde + 50%</li>
      <li>ab der 14. Stunde + 75%</li>
      <li>ab der 16. Stunde + 100%</li>
    </ul>
  </span>
  <p>
    Sollte Audio4Live einen Umsatz irrtümlich als nicht steuerbar bzw. steuerfrei behandeln, obwohl der Umsatz der Umsatzsteuer unterliegt,
    kann Audio4Live die tatsächlich anfallende Umsatzsteuer auch nachträglich vom Vertragspartner verlangen, sobald von Audio4Live hierüber
    eine berichtigte Rechnung ausgestellt worden ist.
  </p>
  <p>
    Angebote, Kalkulationen, Pläne, Zeichnungen oder vergleichbare Unterlagen dürfen ohne Zustimmung von Audio4Live vom Besteller weder
    vervielfältigt, noch geändert oder Dritten zugänglich gemacht werden. Kommt ein Vertragsschluss nicht zu Stande, sind die Unterlagen
    einschließlich Kopien unverzüglich an Audio4Live herauszugeben. Entsprechende digitale Unterlagen sind von allen Laufwerken und
    Speichermedien dauerhaft zu löschen.
  </p>
  <p>
    Behördliche oder sonstige zur Durchführung des Vertrages erforderlichen Genehmigungen sind vom Besteller zu beschaffen und Audio4Live
    zur Verfügung zu stellen, soweit nichts anderes vereinbart ist.
  </p>
  <p>
    Sollten einzelne Regelungen dieses Vertrages ganz oder teilweise gegen zwingendes Recht verstoßen oder aus anderen Gründen nichtig oder
    unwirksam sein, so bleibt die Gültigkeit der übrigen Bestimmungen hiervon unberührt. Nichtige oder unwirksame Regelungen sind durch
    solche zu ersetzen, die dem wirtschaftlich angestrebten Regelungszweck am nächsten kommen. Es gilt das Recht der Bundesrepublik
    Deutschland. Die Vertragssprache ist deutsch. Die Bestimmungen des UN-Kaufrechts werden ausgeschlossen.
  </p>
</div>
<div class="modal-footer justify-content-center">
  <button class="btn btn-primary" type="button" aria-label="Schließen" (click)="modalRef.close()">Schließen</button>
</div>
