<div class="d-block d-md-none" style="height: 63px"></div>
<header class="intro2 min-vh-100">
  <div class="flex-center flex-column justify-content-center min-vh-100">
    <picture class="intro-image vignette-radial">
      <source srcset="/assets/images/speaker1.webp" type="image/webp" />
      <source srcset="/assets/images/speaker1.jpg" type="image/jpeg" />
      <img class="intro-image vignette-radial" src="/assets/images/speaker1.jpg" alt="" (load)="loaded()" />
    </picture>
    <div class="text-center white-text wow fadeInUp align-content-center d-none d-lg-block w-75" style="z-index: 1">
      <h2 class="display-3">Sie suchen eine engagierte technische Fachkraft zum Aufbau und der Durchführung Ihrer Veranstaltung?</h2>
    </div>
    <div class="text-center white-text wow fadeInUp align-content-center d-lg-none d-md-block" style="z-index: 1">
      <h2 class="">Sie suchen eine engagierte technische Fachkraft für Ihre Veranstaltung?</h2>
    </div>
    <i class="fas fa-chevron-down fa-3x position-absolute" style="bottom: 1vh" style="z-index: 1; bottom: 0"></i>
  </div>
</header>
<main class="container my-5" style="z-index: 1">
  <div class="row mb-5">
    <div class="col-12">
      <div class="card elegant-color z-depth-3">
        <div class="card-body">
          <div class="card-title">
            <h3>Interessiert?</h3>
          </div>
          <p class="text-light" style="font-size: 1.2rem !important">
            Als nebenberuflicher Veranstaltungstechniker kann ich zuverlässig Ihre Vorstellungen umsetzen. Mein Tätigkeitsbereich bezieht
            sich überwiegend auf Thüringen und Sachsen.
            <br />
            Teilen Sie mit bitte nachfolgend Ihrer Terminvorstellungen und die von Ihnen gewünschten Leistungen mit. Freie Termine erkennen
            Sie im nachfolgenden Kalender an einem dunkel hinterlegten Feld, rot hinterlegte Felder sind belegt.
          </p>
          <p class="text-light" style="font-size: 1.2rem !important">
            <strong>Bitte beachten Sie, dass ab 30km eine Anfahrtspauschale von 0,30€/km zusätzlich berechnet wird.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="card elegant-color z-depth-3">
        <div class="card-header">
          <div class="d-flex flex-lg-row flex-column justify-content-between">
            <h3 class="text-center text-lg-left m-0 mb-3 mb-lg-0 pt-1">
              {{ viewDate | calendarDate: view + 'ViewTitle':'de' }}
            </h3>

            <div class="btn-group btn-group-sm" role="group" aria-label="Kalender Navigation">
              <button
                [disabled]="isThisMonth(viewDate)"
                mdbBtn
                type="button"
                color="blue-grey"
                size="sm"
                class="waves-light"

                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                aria-label="vorheriger Monat"
                tabindex="0"
              >
                <i class="fas fa-2x fa-angle-left"></i>
              </button>
              <button
                mdbBtn
                type="button"
                color="blue-grey"
                size="sm"
                class="waves-light"

                mwlCalendarToday
                [(viewDate)]="viewDate"
                aria-label="aktueller Monat"
                tabindex="0"
              >
                <i class="fas fa-2x fa-calendar-day"></i>
              </button>
              <button
                #btnNextMonth
                mdbBtn
                type="button"
                color="blue-grey"
                size="sm"
                class="waves-light"

                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                aria-label="nächster Monat"
                tabindex="0"
                [disabled]="isRangeMonth(viewDate)"
              >
                <i class="fas fa-2x fa-angle-right"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <mwl-calendar-month-view
            class="dark-theme"
            [locale]="locale"
            [weekStartsOn]="weekStartsOn"
            [weekendDays]="weekendDays"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (beforeViewRender)="beforeMonthViewRender($event)"
          >
          </mwl-calendar-month-view>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 mt-5 mt-lg-0">
      <div class="card elegant-color z-depth-3">
        <div class="card-body">
          <form #buchenForm="ngForm" (ngSubmit)="onSubmit()">
            <label for="buchenFormName">Name *</label>
            <input
              mdbInput
              type="text"
              autocomplete="name"
              [(ngModel)]="model.name"
              id="buchenFormName"
              name="name"
              class="form-control mb-4"
              placeholder="Name"
              required
              maxlength="150"
              tabindex="0"
            />

            <label for="buchenFormEmail">E-Mail *</label>
            <input
              mdbInput
              type="email"
              autocomplete="email"
              [(ngModel)]="model.email"
              id="buchenFormEmail"
              name="email"
              class="form-control mb-4"
              placeholder="E-Mail"
              required
              maxlength="150"
              tabindex="0"
            />

            <label for="buchenFormPhone">Telefonnummer</label>
            <input
              mdbInput
              type="tel"
              autocomplete="tel"
              [(ngModel)]="model.phone"
              id="buchenFormPhone"
              name="phone"
              class="form-control mb-2"
              placeholder="Telefonnummer"
              maxlength="50"
              tabindex="0"
            />

            <div class="custom-control custom-switch mb-4">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customSwitches"
                name="call"
                [(ngModel)]="model.call"
                [disabled]="model.phone === ''"
                tabindex="0"
              />
              <label class="custom-control-label" for="customSwitches">Rückrufwunsch</label>
            </div>

            <label for="buchenFormLocation">Veranstaltungsort</label>
            <input
              mdbInput
              type="text"
              [(ngModel)]="model.location"
              id="buchenFormLocation"
              name="location"
              class="form-control mb-4"
              placeholder="Ort"
              maxlength="500"
              tabindex="0"
            />

            <label for="buchenFormDate">Datum</label>
            <p id="buchenFormDate">
              {{ displaySelectedDate() }}
            </p>

            <div class="mb-4 form-group" id="buchenFormTimes">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text blue-grey darken-1 text-white border-0">vorraussichtlicher Start </span>
                </div>

                <input
                  id="timeStart"
                  class="form-control border-0"
                  type="text"
                  mdbInput
                  placeholder="Start"
                  aria-label="Startzeit"
                  [ngxTimepicker]="timeStart"
                  [format]="24"
                  readonly
                  name="timeStart"
                  [(ngModel)]="model.times.start"
                  [disabled]="!model.date"
                  tabindex="0"
                />
                <div class="input-group-append">
                  <button
                    mdbBtn
                    color="blue-grey"
                    (click)="model.times.start = ''"
                    size="md"
                    class="m-0 px-2 py-2 border-0"
                    type="button"
                    aria-label="Zeit löschen"
                    tabindex="0"
                  >
                    <i class="fas fa-backspace"></i>
                  </button>
                </div>
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text blue-grey darken-1 text-white border-0">vorraussichtliches Ende </span>
                </div>

                <input
                  id="timeEnd"
                  class="form-control border-0 border-left-1"
                  type="text"
                  mdbInput
                  placeholder="Ende"
                  aria-label="Endzeit"
                  [ngxTimepicker]="timeEnd"
                  [format]="24"
                  readonly
                  name="timeEnd"
                  [(ngModel)]="model.times.end"
                  [disabled]="!model.date"
                  tabindex="0"
                />
                <div class="input-group-append">
                  <button
                    mdbBtn
                    color="blue-grey"
                    (click)="model.times.end = ''"
                    size="md"
                    class="m-0 px-2 py-2 border-0"
                    type="button"
                    aria-label="Zeit löschen"
                    tabindex="0"
                  >
                    <i class="fas fa-backspace"></i>
                  </button>
                </div>
              </div>

              <ngx-material-timepicker
                #timeStart
                [theme]="darkTheme"
                [cancelBtnTmpl]="cancelBtn"
                [confirmBtnTmpl]="confirmBtn"
              ></ngx-material-timepicker>
              <ngx-material-timepicker
                #timeEnd
                [theme]="darkTheme"
                [cancelBtnTmpl]="cancelBtn"
                [confirmBtnTmpl]="confirmBtn"
              ></ngx-material-timepicker>

              <ng-template #cancelBtn>
                <button mdbBtn class="px-2" size="sm" type="button" color="blue-grey">Abbrechen</button>
              </ng-template>
              <ng-template #confirmBtn>
                <button mdbBtn class="px-2" size="sm" type="button" color="blue-grey">Bestätigen</button>
              </ng-template>
            </div>

            <label for="buchenFormMessage">Nachricht</label>
            <textarea
              mdbInput
              [(ngModel)]="model.message"
              id="buchenFormMessage"
              class="form-control mb-4"
              placeholder="Nachricht"
              name="message"
              maxlength="10000"
              tabindex="0"
            ></textarea>

            <p class="text-center">
              Aufgrund der manuellen Bearbeitung kann es zu Zeitverzögerungen zwischen Eingang und Auftragsbestätigung kommen. Fehleinträge
              und Absagen sind vorbehalten.
            </p>

            <div class="d-flex justify-content-center mb-2">
              <re-captcha
                (resolved)="resolved($event)"
                siteKey="6LchheYUAAAAABK3F5HtlemJkmwOL2DkJ1yZ8rer"
                [theme]="'dark'"
                required
                [(ngModel)]="captchaResponse"
                name="captcha"
              ></re-captcha>
            </div>

            <button
              type="submit"
              (click)="onSubmit()"
              class="text-dark"
              mdbBtn
              type="button"
              color="blue-grey"
              block="true"
              [disabled]="!buchenForm.form.valid"

              tabindex="0"
            >
              <h4 class="mb-0">Jetzt anfragen!</h4>
            </button>

            <div #alert class="alert alert-dark mt-3 alert-dismissible fade d-none" role="alert">
              <b>Ihre Anfrage war erfolgreich!</b><br />Sie erhalten in Kürze nochmal eine E&#8209;Mail mit Ihren eingegeben
              Informationen.<br />
              Ich werde mich in den nächsten Tagen mit Ihnen in Verbindung setzen.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
