@import '~angular-calendar/scss/angular-calendar.scss';

.dark-theme {
  $bg-dark-primary: #1f262d;
  $bg-dark-secondary: #394046;
  $bg-active: #2c343a;
  $text-color: #ffffff;
  $border-color: rgba(0, 0, 0, 0.6);

  @include cal-theme(
    (
      bg-primary: $bg-dark-primary,
      bg-secondary: $bg-dark-secondary,
      weekend-color: tomato,
      bg-active: $bg-active,
      border-color: $border-color,
      gray: $bg-dark-secondary,
      today-bg: $bg-dark-secondary,
      event-color-primary: $bg-dark-secondary
    )
  );

  background-color: $bg-dark-primary;
  color: $text-color;

  :focus {
    outline: none;
  }

  .card {
    border-color: $border-color;
  }

  .card-header {
    background-color: $bg-dark-secondary;
  }

  .card-body {
    background-color: $bg-dark-primary;
  }

  .nav-tabs {
    border-bottom-color: $border-color;
  }

  .nav-tabs .nav-link.active {
    background-color: $bg-dark-primary;
    color: $text-color;
    border-color: $border-color;
  }

  .cal-cell-row:hover {
    background-color: $bg-dark-primary !important;
  }

  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus {
    border-color: $border-color;
  }

  .cal-disabled {
    background-color: lighten($color: $bg-dark-secondary, $amount: 3);
    pointer-events: none;
  }

  .cal-blocked {
    background-color: #ef9a9a;
    pointer-events: none;
  }

  .cal-single {
    background-color: #dcedc8;
    .cal-day-number {
      color: #000;
    }
  }
  .cal-single:hover {
    background-color: lighten($color: #dcedc8, $amount: 3) !important;
  }

  .cal-day-selected,
  .cal-day-selected:hover {
    background-color: #4fc3f7 !important;
  }

  .cal-day-selected.cal-single,
  .cal-day-selected:hover.cal-single {
    background-color: #4fc3f7 !important;
  }

  .cal-day-selected .cal-day-number {
    color: #000;
  }

  .cal-disabled .cal-day-number {
    opacity: 1;
  }

  .cal-day-number {
    margin: 0;
    opacity: 1 !important ;
  }
}
