<div style="height: 75px"></div>
<!-- Default form login -->
<div class="container min-vh-100">
  <div class="row">
    <div class="col-6 col-md-12">
      <form class="text-center border border-light p-5">
        <p class="h4 mb-4">Einloggen</p>

        <!-- Email -->
        <input
          type="email"
          id="loginFormEmail"
          class="form-control mb-4"
          placeholder="E-mail"
          name="email"
          [(ngModel)]="credentials.email"
        />

        <!-- Password -->
        <input
          type="password"
          id="loginFormPassword"
          class="form-control mb-4"
          placeholder="Passwort"
          name="password"
          [(ngModel)]="credentials.password"
        />

        <!-- Sign in button -->
        <button mdbBtn color="blue-grey" block="true" class="my-4" type="submit" (click)="login()">Anmelden</button>
      </form>
    </div>
  </div>
</div>
