html.webp {
  .intro-image-leistungen {
    background-image: url('/assets/images/speaker2.webp');
    height: 100vh;
  }
}

.intro-image-leistungen {
  background-image: url('/assets/images/speaker2.jpg');
  height: 100vh;
}
