<div class="view3 intro2 min-vh-100">
  <div class="full-bg-img">
    <div class="mask rgba-black-light flex-center min-vh-100">
      <div class="container text-center white-text wow fadeInUp align-items-center">
        <div class="d-block d-md-none" style="height: 63px;"></div>
        <div class="row mb-5">
          <div class="col-lg-12 col-md-12 mt-5 mt-md-0">
            <h1>
              Als Dienstleister betreue ich Veranstaltungen aller Art, von Groß<wbr />veranstaltungen, Firmenevents bis
              zu privaten Feiern.
            </h1>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-6 col-md-12 my-3 my-md-0">
            <mdb-card class="elegant-color z-depth-3">
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h2 class="h4-responsive text-center">Tontechnik</h2>
                </mdb-card-title>

                <p style="font-size: 1.2rem !important;">
                  Aufbau und Inbetriebnahme von Audiosystemen sowie eine tontechnische Durchführung der Veranstaltung.
                </p>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-lg-6 col-md-12 my-3 my-md-0">
            <mdb-card class="elegant-color z-depth-3 h-100">
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h2 class="h4-responsive text-center">Lichttechnik</h2>
                </mdb-card-title>
                <p style="font-size: 1.2rem !important;">Aufbau und Inbetriebnahme von Lichtsystemen.</p>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
