<div class="view3 intro2 min-vh-100">
    <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center min-vh-100">
            <div class="container text-center white-text wow fadeInUp align-items-center ">
                <div class="d-block d-md-none" style="height: 63px;"></div>
                <div class="row" style="font-size: 1.2rem;">
                    <div class="col-lg-6 col-md-12 mt-5 mt-md-0">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12 my-3 my-md-0">
                        <ul class="list-group">
                            <li class="list-group-item grey darken-3" (click)="leistung1.toggle()"
                                style="cursor: pointer;">
                                <h4>Cras justo
                                    odio <mdb-icon fas icon="plus" class="ml-2"></mdb-icon>
                                </h4>
                                <div class="" mdbCollapse #leistung1="bs-collapse">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. Nihil anim
                                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident.</p>
                                </div>
                            </li>
                            <li class="list-group-item grey darken-3" (click)="leistung2.toggle()"
                                style="cursor: pointer;">
                                <h4>Cras justo
                                    odio<mdb-icon fas icon="plus" class="ml-2"></mdb-icon>
                                </h4>
                                <div class="" mdbCollapse #leistung2="bs-collapse">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. Nihil anim
                                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident.</p>
                                </div>
                            </li>
                            <li class="list-group-item grey darken-3" (click)="leistung3.toggle()"
                                style="cursor: pointer;">
                                <h4>Cras justo
                                    odio<mdb-icon fas icon="plus" class="ml-2"></mdb-icon>
                                </h4>
                                <div class="" mdbCollapse #leistung3="bs-collapse">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. Nihil anim
                                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident.</p>
                                </div>
                            </li>
                            <li class="list-group-item grey darken-3" (click)="leistung4.toggle()"
                                style="cursor: pointer;">
                                <h4>Cras justo
                                    odio<mdb-icon fas icon="plus" class="ml-2"></mdb-icon>
                                </h4>
                                <div class="" mdbCollapse #leistung4="bs-collapse">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. Nihil anim
                                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>