<div class="bg-image intro-image-leistungen vignette-radial min-vh-100">
  <div class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="container text-center white-text align-items-center">
      <div class="row mb-5">
        <div class="col-lg-12 col-md-12 mt-5 mt-md-0">
          <h1>
            Als Dienstleister betreue ich Veranstaltungen aller Art, von Großveranstaltungen, Firmenevents bis hin zu privaten Feiern.
          </h1>
        </div>
      </div>
      <main class="row mt-5">
        <div class="col-lg-6 col-md-12 my-3 my-md-0">
          <div class="card bg-dark shadow-5-strong">
            <div class="card-body">
              <div class="card-title">
                <h2 class="h4-responsive text-center">Tontechnik</h2>
              </div>

              <p style="font-size: 1.2rem !important">
                Aufbau und Inbetriebnahme von Audiosystemen sowie eine tontechnische Durchführung der Veranstaltung.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 my-3 my-md-0">
          <div class="card bg-dark shadow-5-strong h-100">
            <div class="card-body">
              <div class="card-title">
                <h2 class="h4-responsive text-center">Lichttechnik</h2>
              </div>
              <p style="font-size: 1.2rem !important">Aufbau und Inbetriebnahme von Lichtsystemen.</p>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
