@import '../node_modules/reset-css/sass/reset';
@import 'styles/_colors.scss';
@import 'styles/_fonts.scss';

body {
    background-color: $bgcolor;
    color: $textcolor;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}