@import "./app/shared/navbar/navbar.component.scss";
@import "./app/buchen/calendar.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Lato, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  color: #fff;
}
