@import './app/buchen/calendar.scss';
@import './background.scss';

@import url('node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css');
@import 'node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss';
@import 'quill/dist/quill.snow.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Lato, 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  color: #fff;
  //min-width: 0 !important;
}

.bg-dark {
  background-color: rgba(38, 38, 38, var(--mdb-bg-opacity)) !important;
}

.vignette-radial:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(circle, transparent 50%, black 150%);
}

.card.bg-dark {
  background-color: $gray-800 !important;
}

footer.bg-dark {
  background-color: #101010 !important;
}

.btn-primary {
  background-color: $blue-gray-400;
  border-color: $blue-gray-400;
}

.btn-primary:disabled {
  background-color: $blue-gray-600;
  border-color: $blue-gray-600;
}

.btn-primary:hover {
  background-color: $blue-gray-500;
  border-color: $blue-gray-500;
}

.btn-primary:focus {
  background-color: $blue-gray-500;
  border-color: $blue-gray-500;
}

.btn-primary:active {
  background-color: $blue-gray-300;
  border-color: $blue-gray-300;
}

.form-check-input[type='checkbox']:checked {
  background-color: $blue-gray-400;
}

.form-check-input[type='checkbox']:checked:focus {
  background-color: $blue-gray-400;
}

.form-switch .form-check-input:checked:focus:before {
  box-shadow: 3px -1px 0 13px $blue-gray-400;
}

.form-switch .form-check-input:checked[type='checkbox']:after {
  background-color: $blue-gray-400;
}

.navbar-resp {
  height: 60px;
}

@include media-breakpoint-down(md) {
  .navbar-resp {
    height: fit-content;
  }
}

a {
  cursor: pointer;
}

.ql-snow .ql-stroke {
  stroke: #fff;
}

.ql-snow .ql-fill {
  fill: #fff;
}

.ql-snow .ql-picker {
  color: #fff;
}

.ql-snow .ql-picker-options .ql-picker-item {
  color: #000;
}
