<footer class="page-footer font-small bg-dark w-100 text-center text-lg-start">
  <div class="text-center py-3 container w-100">
    <div class="row">
      <div class="col-sm-4">
        ©{{ currentYear }}&nbsp;
        <img alt="Audio4Live Logo" class="align-baseline" src="/assets/images/Logo2.svg" style="height: 1rem" />&nbsp; Audio4Live
      </div>

      <div class="col-sm-4 d-flex justify-content-evenly">
        <a tabindex="0" (click)="openDatenschutzModal()" class="pe-auto text-white">Datenschutz</a>
        <a tabindex="0" (click)="openImpressumModal()" class="text-white">Impressum</a>
      </div>

      <div class="col-sm-4">
        Design by
        <a tabindex="0" class="font-weight-bold" href="https://github.com/blockbasti" rel="noopener nofollow" target="_blank"
          >Bastian Block</a
        >
      </div>
    </div>
  </div>
</footer>
