<div class="view3 intro2 min-vh-100">
    <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center min-vh-100">
            <div class="container text-center white-text wow fadeInUp align-items-center ">
                <div class="row" style="font-size: 1.2rem;">
                    <div class="col-lg-6 col-md-12">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item grey darken-3">Cras justo odio</li>
                            <li class="list-group-item grey darken-3">Dapibus ac facilisis in</li>
                            <li class="list-group-item grey darken-3">Morbi leo risus</li>
                            <li class="list-group-item grey darken-3">Porta ac consectetur ac</li>
                            <li class="list-group-item grey darken-3">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
