name: Deploy Dev
on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Node $
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 16
          cache: 'npm'

      - name: Cache Angular build cache
        uses: actions/cache@v3
        with:
          path: /home/runner/work/Audio4Live/Audio4Live/.angular/cache
          key: ${{ runner.os }}-angular

      - name: Install dependencies (Frontend)
        run: npm ci

      - name: Deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        run: npx firebase hosting:channel:deploy dev --token "$FIREBASE_TOKEN" --non-interactive
