
name: Deploy
on:
  schedule:
    - cron: '0 3 * * 5'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Node $
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            functions/package-lock.json

      - name: Cache Angular build cache
        uses: actions/cache@v3
        with:
          path: /home/runner/work/Audio4Live/Audio4Live/.angular/cache
          key: ${{ runner.os }}-angular

      - name: Install dependencies (Frontend)
        run: npm install

      - name: Install dependencies (Functions)
        working-directory: ./functions
        run: npm install

      - name: Deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        run: |
          npx firebase deploy --token "$FIREBASE_TOKEN" --non-interactive --only hosting
          npx firebase deploy --token "$FIREBASE_TOKEN" --non-interactive --only functions

      - name: Audit URLs using Lighthouse
        continue-on-error: true
        uses: treosh/lighthouse-ci-action@10.1.0
        with:
          runs: 3
          urls: |
            https://audio4live-1d621.web.app/
            https://audio4live-1d621.web.app/anfragen
            https://audio4live-1d621.web.app/profil
            https://audio4live-1d621.web.app/leistungen
            https://audio4live-1d621.web.app/error
          uploadArtifacts: true

      - name: Remove old artifacts
        continue-on-error: true
        timeout-minutes: 2
        uses: c-hive/gha-remove-artifacts@v1.3.0
        with:
          age: '1 month'
