name: Build and Lint
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Node $
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            functions/package-lock.json
      
      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: |
            /home/runner/work/Audio4Live/Audio4Live/node_modules
            /home/runner/work/Audio4Live/Audio4Live/functions/node_modules
          key: ${{ runner.os }}-npm

      - name: Cache Angular build cache
        uses: actions/cache@v4
        with:
          path: /home/runner/work/Audio4Live/Audio4Live/.angular/cache
          key: ${{ runner.os }}-angular

      - name: Install dependencies (Frontend)
        run: npm ci

      - name: Install dependencies (Functions)
        working-directory: ./functions
        run: npm ci

      - name: build (Frontend)
        run: npx ng build --configuration production

      - name: lint (Frontend)
        continue-on-error: true
        run: npx ng lint

      - name: build (Functions)
        working-directory: ./functions
        run: npm run build

      - name: lint (Functions)
        working-directory: ./functions
        continue-on-error: true
        run: npm run lint
