name: Build and Lint
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Node $
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            functions/package-lock.json
            
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            app:
              - './*.json'
              - 'src/**'
            functions:
              - 'functions/**'

      - name: Cache npm
        uses: actions/cache@v3
        with:
          path: |
            /home/runner/work/Audio4Live/Audio4Live/node_modules
            /home/runner/work/Audio4Live/Audio4Live/functions/node_modules
          key: ${{ runner.os }}-npm

      - name: Cache Angular build cache
        if: ${{ steps.changes.outputs.app == 'true' }}
        uses: actions/cache@v3
        with:
          path: /home/runner/work/Audio4Live/Audio4Live/.angular/cache
          key: ${{ runner.os }}-angular

      - name: Install dependencies (Frontend)
        if: ${{ steps.changes.outputs.app == 'true' }}
        run: npm ci

      - name: Install dependencies (Functions)
        if: ${{ steps.changes.outputs.functions == 'true' }}
        working-directory: ./functions
        run: npm ci

      - name: build (Frontend)
        if: ${{ steps.changes.outputs.app == 'true' }}
        run: npx ng build --configuration production

      - name: lint (Frontend)
        if: ${{ steps.changes.outputs.app == 'true' }}
        continue-on-error: true
        run: npx ng lint

      - name: build (Functions)
        if: ${{ steps.changes.outputs.functions == 'true' }}
        working-directory: ./functions
        run: npm run build

      - name: lint (Functions)
        if: ${{ steps.changes.outputs.functions == 'true' }}
        working-directory: ./functions
        continue-on-error: true
        run: npm run lint
